
<div class="post-block post-author clearfix">
	<h3><i class="fa fa-user"></i>Author</h3>
	<div class="img-thumbnail">
			<img src="/images/authors/charles_butler.jpg" alt="Charles Butler">
	</div>
	<p><strong class="name"><a href="#">Charles Butler</a></strong></p>
	<p>
    The self taught electronic polyglot. Charles spends his time working on the
    Juju data center modeling language, writing charms. In his spare time he
    enjoys electronic music, DJ'ing, amateur video editing, podcasting, and
    hacking on various appliances voiding warranties.
  </p>
</div>
