<footer id="footer">
  <div class="footer-copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-1">
                  <a href="/" class="logo">
                      <img class="img-responsive" src="{{ .Site.BaseURL }}/img/logo-dark.png">
                  </a>
              </div>
              <div class="col-md-7">
                  <p>{{ .Site.Copyright }}</p>
              </div>
              <div class="col-md-4">
              <!--    <nav id="sub-menu">
                      <ul>
                          <li><a href="/archives.html">Archive</a></li>
                      </ul>
                  </nav> -->
              </div>
          </div>
      </div>
  </div>
</footer>
