        </div>
        <!-- Vendor -->
        <script type="text/javascript" src="{{ .Site.BaseURL }}/vendor/jquery.appear/jquery.appear.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/vendor/jquery.easing/jquery.easing.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/vendor/jquery-cookie/jquery-cookie.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/vendor/bootstrap/bootstrap.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/vendor/common/common.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/vendor/jquery.fitvid/jquery.fitvids.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/vendor/isotope/jquery.isotope.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/vendor/owlcarousel/owl.carousel.js"></script>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/vendor/vide/vide.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>

        <!-- Theme Base, Components and Settings -->
        <script src="{{ .Site.BaseURL }}/js/theme.js"></script>
        <!-- Theme Custom -->
        <script src="{{ .Site.BaseURL }}/js/custom.js"></script>
        <!-- Theme Initialization Files -->
        <script src="{{ .Site.BaseURL }}/js/theme.init.js"></script>

        {{ partial "analytics.html" }}
        {{ partial "twitter.html" }}
      </body>
  </html>
