{{ partial "page-head.html" . }}
{{ partial "nav.html" . }}
<div role="main" class="main">
    {{ partial "page-top.html" . }}
    <div class="container">
        <div class="row">
          <div class="col-md-9">
            {{ $paginator := .Paginate .Data.Pages.ByPublishDate }}
            {{ range .Paginator.Pages  }}
              {{ partial "widgets/post-summary.html" . }}
              <hr />
            {{ end }}
            <div class="text-center">
            {{ template "_internal/pagination.html" . }}
            </div>
          </div>
          <div class="col-md-3">
            {{ partial "posts-sidebar.html" . }}
          </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
{{partial "page-foot.html" . }}
