{{ partial "page-head.html" . }}
    <body>
        <div class="body">
           {{ partial "nav.html" . }}
            <div role="main" class="main">
                {{ partial "page-top.html" . }}
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                        <!-- CONTENT -->

                        </div>
                        <!-- Sidebar -->
                        <div class="col-md-3">
                          <aside class="sidebar">
                              {{ partial "widgets/search.html" . }}
                              <hr />
                              {{ partial "widgets/twitter.html" . }}
                              {{ partial "widgets/stackexchange.html" . }}
                          </aside>

                        </div>
                        <!-- /Sidebar -->
                    </div>
                </div>
            </div>
        {{ partial "footer.html" . }}
        </div>
{{partial "page-foot.html" . }}
    </body>
</html>
