{{ partial "page-head.html" . }}
    <body>
        <div class="body">
           {{ partial "nav.html" . }}
            <div role="main" class="main">
                {{ partial "page-top.html" . }}
                <div class="container">
                    <div class="row">
                      <!-- CONTENT -->
                        <div class="col-md-9">
                          {{ $paginator := .Paginate .Data.Pages.ByPublishDate }}
                          {{ range .Paginator.Pages  }}
                            {{ if eq .Section "posts" }}
                              {{ partial "widgets/post-summary.html" . }}
                            {{ end }}
                          {{ end }}
                          <div class="text-center">
                          {{ template "_internal/pagination.html" . }}
                          </div>
                        </div>
                        <!-- Sidebar -->
                        <div class="col-md-3">
                          <aside class="sidebar">
                              {{ partial "widgets/search.html" . }}
                              <hr />
                              {{ partial "widgets/twitter.html" . }}
                              {{ partial "widgets/stackexchange.html" . }}
                          </aside>

                        </div>
                        <!-- /Sidebar -->
                    </div>
                </div>
            </div>
        {{ partial "footer.html" . }}
        </div>
{{partial "page-foot.html" . }}
    </body>
</html>
